@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import url('../web-font/fonts.css');
@import url('../css/owl.carousel.min.css');
/**
@import url('http://cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.min.css');
font-family: 'Lato', sans-serif;
font-family: 'Novecentosanswide-Medium';
font-family: 'Novecentosanswide-Light';
**/
html,
body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Lato', sans-serif; font-size: 23px; font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: normal;
    background: transparent;
    font-weight: normal;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

input,
textarea,
select {
    font-weight: normal;
}

* {
    outline: none;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


.form-control:focus {
    border-color: #d5d5d5;
    box-shadow: none;
    outline: 0 none;
}

input,
select,
textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select::-ms-expand {
   display: none;
}
::-webkit-input-placeholder { color:#000; }
 ::-moz-placeholder { color:#000; } /* firefox 19+ */
 :-ms-input-placeholder { color:#000; } /* ie */ 
input:-moz-placeholder { color:#000; }
ul,
ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
p {
    color: #666666; font-size: 21px;
}

@media (min-width: 1300px){
	.container{max-width:1170px }
}



/***** custom Html started ****/

header.home-header {
    padding-top: 0px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
header{ position: relative;     overflow: hidden;}
header .navbar-nav .nav-link {
    color: #000000;
}
header.home-header .navbar-nav .nav-link {
    color: #fff;
}
.social {   margin: auto;   margin-right: 0;   text-align: right;  display: flex;}

header .navbar-nav .nav-link{ 
	text-transform: uppercase;font-family: 'Novecentosanswide-Medium';font-size: 23px;}
header .navbar-nav li { color: #fff; position: relative;    min-height: 38px;}
header .navbar-nav li ul {text-align:right}
header .navbar-nav li ul li:last-child{ width: auto;}
header.home-header  i.fa {
    color: #fa6ca0;
    background: #fff;
    width: 46px;
    height: 46px;
    text-align: center;
    font-size: 25px;
    border-radius: 100%;
    vertical-align: middle;
    position: relative;
    transition: 1s all ease;
}
header i.fa,i.fa {
    width: 46px;
    height: 46px;
    text-align: center;
    font-size: 25px;
    border-radius: 100%;
    vertical-align: middle;
    position: relative;
    line-height: 46px;
    transition: 1s all ease;
}
i.fa.fa-facebook{    color: #fff;
    background: #4173b9;
}
i.fa.fa-twitter{   color: #fff;
    background: #63a6db;}
i.fa.fa-twitter{   color: #fff;
    background: #63a6db;}
i.fa.fa-instagram{   color: #fff;
    background: #674a1d;}
i.fa.fa-search{ color: #1c1c1c;
   border: 2px solid #1c1c1c;
    background: none;
    width: 44px;
    height: 44px;}
header.home-header i.fa.fa-search {
    background: none;
    border: 2px solid #fff;
    color: #fff;
    width: 44px;
    height: 44px;    line-height: 39px;
}
nav.navbar {
    padding: 0;    margin-top: 5px;
}
i.fa:hover {
    background: #fdd224;
  transform: rotate(360deg);
}
header.home-header .timing h3 {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 21px;
    font-weight: 400;line-height: 2;
}
.timing h3{color: #000;    font-family: 'Lato', sans-serif;
    font-size: 21px;
    font-weight: 400;line-height: 2;}
.social ul li{
	display: inline-block;
    margin-right: 2px;
}
.social {
    margin: auto;
    margin-right: 0;
    z-index: 99;
    position: relative;
	text-align: right;
    justify-content: flex-end;    top: 40px
}
.navbar-expand-lg .navbar-nav{ padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;flex-wrap: wrap;
  align-items: flex-end;}

header .navbar-nav li::before{
    width: 4px;
    height: 4px;
    content: "";
    background: #000;
    position: absolute;
    display: inline-block;
    top: 16px;
    left: -2px;
    border-radius: 100%;
}
header.home-header .navbar-nav li::before{background: #fff;}
.social ul {     margin-left: 13px;}
.nav-link {  padding: 0 1rem;}
a.navbar-brand {
    padding: 0;
    margin: 0;
    position: relative;
    top:-30px;    z-index: 99;
}
header.home-header a.navbar-brand{top: -40px;}
.navbar-collapse {  justify-content: flex-end;}
header.home-header .navbar-nav .nav-link:hover {
   border-bottom: 3px solid #fde0ea;;
}
header .navbar-nav .nav-link:hover {
   border-bottom: 3px solid #479cd1;;
}
.navbar-expand-lg .navbar-nav .nav-link {
    margin-right: .5rem;
    margin-left: .5rem;
    padding: 0;    letter-spacing: 0.03em; border-bottom: 3px;
}

header.home-header .navbar-expand-lg .navbar-nav .active a {
    border-bottom: 3px solid #fde0ea;
}
header .navbar-expand-lg .navbar-nav .active a {
    border-bottom: 3px solid #479cd1;
}

header .navbar-nav li .nav-link{     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;} 
.navbar-expand-lg .navbar-nav > li:last-child .nav-link {
    margin-right: 0;
}
header .navbar-nav li:first-child:before { display: none;}
.navbar-right {
    position: absolute;
    width: 340px;
    right: 50px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    top: -2px;
	max-width: 0px; overflow: hidden;
}
.navbar-right input.form-control {
    border: 2px solid #e84b85;
    border-radius: 40px;
    font-size: 20px;
    line-height: 0.9;
    padding: 10px 20px;font-family: 'Lato', sans-serif;
}
.shower-search{max-width: 450px;width: 100%;}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    width: 820px;
    background: transparent;
    border: none;    padding: 0;top: 34px;
}
header .navbar-expand-lg .navbar-nav .dropdown-menu a {
    border-bottom: transparent;
    font-size: 20px;
    display: inline;
    color: #666666;
    position: relative;
    margin: 0 5px;
    padding:  0 5px; letter-spacing: 0.01em;
}
header.home-header .navbar-expand-lg .navbar-nav .dropdown-menu a{color: #fff;}
header .navbar-expand-lg .navbar-nav .dropdown-menu a::before {
    width: 7px;
    height: 7px;
    content: "";
    background: #666666;
    position: absolute;
    display: inline-block;
    top: 10px;
    left: -11px;
    border-radius: 100%;
}
header.home-header .navbar-expand-lg .navbar-nav .dropdown-menu a::before{background: #fff;}
header .navbar-expand-lg .navbar-nav .dropdown-menu a{ background: none;}
.navbar-expand-lg .navbar-nav .dropdown .dropdown-toggle::after,header .navbar-expand-lg .navbar-nav .dropdown-menu a:first-child:before{ display: none;}
.navbar-expand-lg .navbar-nav li.mag .dropdown-menu { right: 0;  left: auto;    text-align: right;}
/***** header end ****/

/*****banner start ****/

.slider { max-width: 100%;
    margin: 0 auto;
}


section.banner{background: -moz-linear-gradient(18deg, rgba(237,89,142,1) 0%, rgba(250,108,160,1) 51%, rgba(234,84,137,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(237,89,142,1)), color-stop(51%, rgba(250,108,160,1)), color-stop(100%, rgba(234,84,137,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(18deg, rgba(237,89,142,1) 0%, rgba(250,108,160,1) 51%, rgba(234,84,137,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(18deg, rgba(237,89,142,1) 0%, rgba(250,108,160,1) 51%, rgba(234,84,137,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(18deg, rgba(237,89,142,1) 0%, rgba(250,108,160,1) 51%, rgba(234,84,137,1) 100%); /* ie10+ */
background: linear-gradient(72deg, rgba(237,89,142,1) 0%, rgba(250,108,160,1) 51%, rgba(234,84,137,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed598e', endColorstr='#ea5489',GradientType=1 ); /* ie6-9 */   overflow: hidden; padding-top: 185px;}
.owl-carousel .owl-item img {
    width: 47%;
    margin: 0 auto;
    margin-right: 0;
}
section.banner  h2 {
    font-family: 'Novecentosanswide-Light';
    font-size: 81px;
    text-transform: uppercase;line-height: 1.1;
    color: #fff;    margin-bottom: 25px;
}
section.banner  p{font-family: 'Lato', sans-serif;font-size: 23px; font-weight: 300; color: #fff;}
.owl-nav {  display: none;}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ffffff;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
    width: 18px;
    height: 18px;
    margin: 5px 7px; border:3px solid #fff;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.owl-dots {
    position: absolute;
      bottom: 20px;
    left: 0;
}
.text-area {
    max-width: 685px;
    display: inline-block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
}

.item {  min-height: 100%;   position: relative;  width: 100%;  float: left;}
.carousel img {
    width: 76%;
    margin: 0 auto;
    margin-right: -33%;
}
.carousel-indicators li {
    width: 18px;
    height: 18px;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 100%;
    border: 3px solid #fff;
    background: none;
    cursor: pointer;  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.carousel-indicators li:hover {
    background-color: #fff;
}
.carousel-indicators {
    position: absolute;
    bottom: 110px;
	justify-content: flex-start; max-width: 400px;margin-left: 0;}
.carousel-inner { overflow: inherit;}

.carousel-fade .carousel-item {
 opacity: 0;
 top: 0;
 left: 0;
 width: 100%;
 display: block;
 position: absolute;
 transition: opacity .50s ease-in-out;
}
.carousel-fade .carousel-item:first-of-type {
 position: relative;
}
.carousel-fade .carousel-item.active {
 opacity: 1;
}


/***** banner end ****/


/***** shoping  ****/
.top-heading{min-height: 380px; width: 100%; background-size: cover; background-repeat: no-repeat; background-position: 0px 0px;position: relative;margin-bottom: 50px;}
.inner-areas{
    text-align: center;
    vertical-align: middle;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    left: 0;
    right: 0; text-transform: uppercase;z-index: 9;
}
.inner-areas h2,.inner-areas h3{
    color: #fff;
    font-size: 60px;
    font-weight: 300;
    font-family: 'Novecentosanswide-Light';
    text-align: center;
    vertical-align: middle;
text-transform: uppercase;
}
.brand p{ font-size: 23px ; font-weight: 300; color: #666666; font-family: 'Lato', sans-serif;    text-align: center;}
section.shoping{ padding: 60px 0px}
.shoping h2 {
    font-size: 23px;
    font-weight: 400;
    color: #000;
    font-family: 'Lato', sans-serif;
    margin-top: 25px;
    margin-bottom: 8px;
}
.shoping p {
    font-size: 21px;
    font-weight: 300;
    color: #5a5959;
    font-family: 'Lato', sans-serif;
    text-align: left;
    line-height: 1.3;
}
.shoping a, a.more  {
    font-size: 23px;
    font-weight: 700;
    color: #2194dd;
    border: 1px solid #2194dd;
    font-family: 'Lato', sans-serif;
    line-height: 2.2;
    display: inline-block;
    border-radius: 32px;
    min-width: 246px;
    text-align: center;
    margin-top: 30px;    padding: 0px 28px; -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.shoping a:hover,.artical-slider a.more:hover,.more-bt a.more:hover,.instagram-feed a.more:hover,.contact-section a.more:hover,.media-list a.more:hover,.priceless a.more:hover,form  input.submit:hover{  background: #2194dd; color: #fff;}

.services_magzin a.more:hover {
    color: #fff;
    border-color: #f6659a;
    background: #f6659a;
}
.img-item{min-height: 480px; width: 100%; background-size: cover; background-repeat: no-repeat; background-position: 0px 0px;position: relative;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#press img {
    width: 100%!important;
    margin: 0 auto;
    margin-right: 0;
}
.shop-inner{ overflow: hidden; min-height: 485px;}
.instagram-feed p{    font-weight: 400;
    color: #000;
    font-family: 'Lato', sans-serif; }
/***** shoping end  ****/
.contact-section a.more{ margin-top: 22px;}


/***brands*****/
.br-item1 {
    width: 100%;
    border: 1px solid #b7b7b7;
    min-height: 140px;  
	margin-bottom: 12px;  
	align-items: center;
  display: flex;           
	 -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    flex-wrap: wrap;
    justify-content: center; cursor: pointer;
}

.br-item1 img{	 -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;}
.br-item1:hover{ border-color: #ccc}
.brand-logo h4{ font-size: 24px; color: #000;}
.brand-logo h4 a{color: #000;font-family: 'Lato', sans-serif; font-weight: 400;}
.brand-logo h4 a:hover{color: #fa6ca0;}
.br-item1:hover img{ opacity: 0.5;}
.brand-logo .col-lg-3 {  margin-bottom: 30px;}
.brand-logo {  margin-top: 50px;}
.more-bt {
    text-align: center;
}
.img-item:after {
    background: rgba(0, 0, 0, 0.1);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
		-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
section.brand { padding-bottom: 70px;}
/***end****/

/***Services MAGZIN*****/
.services {
    width: 50%;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size:inherit;
    min-height: 550px;
    vertical-align: middle;
    position: relative;
    align-items: center;
    display: flex;           
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}
.magzin {
    width: 50%;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}
section.services_magzin {
  display: flex;
    width: 100%;
    max-width: 100%; background: #fcbf0b;
}
section.services_magzin h2{
    color: #fff;
    font-size: 56px;
    font-weight: 300;
    font-family: 'Novecentosanswide-Light';
    text-align: left;
    text-transform: uppercase;    margin-bottom: 40px;
}
section.services_magzin p{ color: #fff;    z-index: 9;}
.services_magzin a.more {  color: #ffffff; border: 1px solid #ffffff; margin-top: 50px;}
.inner {
    margin: 0 auto;
    max-width: 540px;
    margin-right: 0; z-index: 9;
}
.magzin .inner { margin-left: 0; margin-right: auto;}
.services::after {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/******end *****/

/******artical-slider end  *****/

.artical-slider .owl-carousel .owl-item img {
	width: 100%;}
section.artical-slider h3 {
    font-size: 23px;
    color: #000;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    margin-top: 35px;
    margin-bottom: 8px;
}
#artical-slider .owl-nav {
    display: block;
}
#artical-slider .owl-dots{display: none;}
#artical-slider .owl-prev, #artical-slider  .owl-next {
    position: absolute;
    top: 50%;
    left: -40px;
    background: url(../images/btn-slider-press.png);
    width: 25px;
    height: 64px;
    background-size: 100%;
    background-repeat: no-repeat;
}
#artical-slider  .owl-next {
	background: url(../images/btn-slider-press1.png);
	    top: 50%;
    right: -40px;
	   width: 25px;
    height: 64px;
    left: auto;  background-size: 100%;
    background-repeat: no-repeat;
}



section.artical-slider {
    padding: 90px 0;
}
h2.heads {
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    color: #000; margin-bottom: 40px;font-family: 'Novecentosanswide-Light';
}
.artical-slider p {
    font-size: 21px;
    color: #565555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.2;
}
section.instagram-feed {
    text-align: center;
}

.instafeed ul li {
    width: 20%;
    padding: 0;
    margin: 0;
    float: left;
}
.instafeed ul li img{ width: 100%;}
.instafeed {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
}
.contact-section span svg {
    width: 35px;
    fill: #2194dd; height: 35px;
}
.contact-section span {
    display: inline-block;
    margin-right: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.contact-section li {
    width: 100%;   
	font-weight: 300;
    color: #666666;
    font-family: 'Lato', sans-serif; 
	font-size: 21px;     
	align-items: center;
	margin-bottom: 17px;
	padding-left: 48px;
    position: relative;
}
.contact-section li a{ color: #666666;
    font-family: 'Lato', sans-serif; font-size: 21px;}
section.contact-section {
    padding: 105px 0;
}

footer{ background: #000; position: relative; padding:30px 0px}
.newsletter {
    position: relative;
    margin-top: 75px;
    margin-bottom: 20px;
}
footer .newsletter  input[type=""]{background: }
footer .newsletter input[type="text"] {
    background: no-repeat;
    border: 1px solid #2194dd;
    border-radius: 28px;
    min-width: 100%;
    color: #fff;
    line-height: 1.9;
    padding: 5px 70px 5px 117px;
    background: url(../images/news.png);
    background-repeat: no-repeat;
    background-position: 50px 15px;font-size: 22px; font-family: 'Lato', sans-serif; font-weight: 400;height: 58px;
}
.newsletter svg {
    width: 27px;
    height: 22px;
    fill: #1a82c6;	 -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.newsletter button {
    background: no-repeat;
    border: none; transition: 
}
.newsletter button:hover, .newsletter button:focus {
    color: inherit;
    background: none;
    border: navajowhite;
    box-shadow: none;
    outline: none;
}
.newsletter button {
    background: no-repeat;
    border: none;
    position: absolute;
    top: 13px;
    right: 25px;    cursor: pointer;
}
.newsletter button:hover svg{ fill: #fff;}
footer .social {
    text-align: left;
    justify-content: left;
    margin-left: 0;   width: 100%;    flex-wrap: wrap;top: auto;
}
footer .social ul{margin-left: 0; }
.top-scroll svg {
    width: 40px;
    transform: rotate(-90deg);
    fill: #2194dd;	 -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.top-scroll:hover svg{fill: #f96aa0;}
footer .top-scroll p {color: #2194dd;}
.top-scroll:hover p{color: #f96aa0;}
.top-scroll {
    position: fixed;
    bottom: 70px;
    right: 70px;
    z-index: 9999;
    text-align: center; display: none;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.newss {border-left: 2px solid #808080; border-right: 2px solid #808080;    padding: 0px 30px;}
footer p {
    color: #fff;
    font-size: 18px;
    text-align: center;font-family: 'Lato', sans-serif; font-weight: 300;
}
.profilelink a{ color: #fff; font-weight: 300; font-size: 22px;}
.profilelink a {
    color: #fff;
    font-weight: 300;
    font-size: 22px;
    border-bottom: 2px solid #808080;
    padding-bottom: 4px;
    display: block;
    margin: 10px 0;
    width: 200px;
    text-align: center;
}
footer .social ul li i.fa {
    color: #000000;
}
.contact-section h2.heads {text-align: left;}
.instafeed ul li img:hover{opacity: 0.5}
#artical-slider .owl-prev:hover, #artical-slider .owl-next:hover{ opacity: 0.7;}
section.instagram-feed{ width: 100%;}
section.instagram-feed ul{ width: 100%}
.contact-section li a:hover{ color: #2194dd;}
iframe { max-width: 100%;}







/**** about */
section.about-banner {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 610px;
    background-position: 0px 0px;
}
section.about {  padding: 75px 0 0 0;}
section.about p {
    color: #666665;
    font-size: 21px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-bottom: 26px;
    line-height: 1.2;
    letter-spacing: 0.0em;
}
h3.main-head{color: #666666;
    font-size: 26px;
    text-align: center; font-family: 'Lato', sans-serif; font-weight: 400; margin-bottom: 50px;}

/****about end***/

/****brands end***/

.all-letter-search {
    text-align: center;
}
.all-letter-search ul a {
    text-transform: uppercase;
    color: #000;
    font-size: 32px;
    margin: 0px 6px;	 -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.all-letter-search ul li{ display: inline-block;}
.all-letter-search ul a:hover, .all-letter-search ul li.active a{
    color: #1983c6;
}

.search-form .form-group {
}
.search-form .form-group input.form-control {
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  color: #1c84c7;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #1c84c7;
}
.search-form .form-group input.form-control, .search-form .form-group select.form-control {
    border: 1px solid #1c84c7;
    border-radius: 37px;
    color: #1c84c7;
    padding: 5px 70px 5px 25px;
    height: 58px;
    min-width: 425px; font-family: 'Lato', sans-serif; font-weight: 400; font-size: 23px;
}
.search-form .form-group select.form-control { background: url(../images/search-select.png); background-repeat: no-repeat; background-position: 96% 50%;}
span.serchicons svg {
    width: 37px;
    fill: #1c83c7;
    height: 37px;
}
span.serchicons {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}
.search-product .search-form .form-group.has-feedback {
    position: relative;
}
.search-product {
    max-width: 940px;
    margin: 45px auto 0;
}
.instagram-feed h2.heads {   margin-bottom: 25px;}
footer .newss p {  max-width: 500px;  margin: 0 auto;}
footer .newss p a{ color: #fff; -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;}
footer .newss p a:hover,.profilelink a:hover{ color: #1c84c7;}
.profilelink a:hover{ border-color: #1c84c7;}
header.home-header .search-form .form-group input.form-control{ border-color: #f05d92;}
.magzins {
    background-size: cover;
    width: 100%;
    min-height: 482px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}
.magzin-list h3{ font-size:23px; font-family: 'Lato', sans-serif; font-weight: 400;    margin-top: 18px; }
.magzin-list h3 a{ color: #000;}
.magzin-list .col-12 { margin-bottom: 50px;}
.magzin-list {  margin: 60px 0px 40px 0px;  width: 100%;}
.show-button-bottom-to-top{ display: block;}

/******* END ****/

/*******Gallery******/
.gallery-item {
    background-size: cover;
    width: 100%;
    min-height: 260px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}
.gallery h3{font-size:23px; font-family: 'Lato', sans-serif; font-weight: 400;    margin-top: 30px;}
.gallery h3 a{ color: #000;-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;}
.gallery h3 a:hover,.magzin-list h3 a:hover{ color: #1c84c7}
.gallery h4{font-size:23px; font-family: 'Lato', sans-serif; font-weight: 400;    margin-top: 5px; color: #666666;}
.gallery h4.shoot-time{ color: #000}
.gallery .col-12 {   margin-bottom: 35px;}
header .navbar-expand-lg .navbar-nav .active .dropdown-menu a {  border-bottom: transparent;}
header .navbar-expand-lg .navbar-nav .dropdown-menu a:hover, header .navbar-expand-lg .navbar-nav .dropdown-menu a.active{ color: #2194dd;}
header.home-header .navbar-expand-lg .navbar-nav .dropdown-menu a:hover{ color: #ffc92a;}
.navbar-right .search-form .form-group input.form-control{
    border: 1px solid #1c84c7;
    color: #000;
    padding: 5px 25px;
    height: 50px;
    font-size: 20px;
}
header .navbar-expand-lg .navbar-nav .dropdown-menu a:last-child {
    padding-right: 0px;
    margin-right: 0px;
}
#artical-slider img { width:auto;  margin-right: auto;}
#artical-slider .carousel-control-prev,#artical-slider .carousel-control-next {
    left: -38px;
    padding: 0;
    margin: 0;
    width: 22px;
    opacity: 1;
}

#artical-slider .sr-only {
    position: absolute;
    width: 22px;
    height: 55px;
    clip-path: initial;
    border: 1px solid #2194dd;
    border-radius: 14px;
    padding-top: 7px; clip: auto;    
	top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#artical-slider .carousel-control-next {
    right: -38px;
    left: auto;
    width: 24px;transform: rotate(180deg);
}
.img-item:hover:after {
    background: rgba(0, 0, 0, 0.6);
} 
#artical-slider .sr-only:hover{ opacity: 0.8}
section.about .media-list p {text-align: left;}
.medias {
    background-size: cover;
    width: 100%;
    min-height: 474px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}
.media-list h3 a { color: #222629;  font-size: 24px;  letter-spacing: 0.01em;}
.media-list h4 {
    color: #666666;
    font-size: 24px;
    letter-spacing: 0.01em;
    margin-top: 3px;
    margin-bottom: 12px;
}
.media-list h3 a:hover,.priceless.address h4 a:hover{ color: #1983c6}
.media-list a.more {margin-top: 0px;}
.media-list {  margin-top: 53px; margin-bottom: 80px;}
.border-line {
    margin-bottom: 44px;
    border-bottom: 2px solid #cacaca;
    padding-bottom: 44px;
}
.navbar-expand-lg .navbar-nav .offers .dropdown-menu {
    left: -165px;
}
.offer-item{    background-size: cover;
    width: 100%;
    min-height: 484px;
    background-position: 0px 0px;
    background-repeat: no-repeat;}

.store-offers,.gallery,.priceless{ margin-top: 60px;}
.priceless.address .col-xl-4 {  border-right: 2px solid #cacaca;}
.priceless.address .row div:nth-child(3) { border: none;}
.priceless.address .row div:nth-child(2),.priceless.address .row div:nth-child(3){ padding-left: 60px;}
.priceless.address h3{font-size: 24px; color: #000; font-family: 'Lato', sans-serif; font-weight: 400; }
.priceless.address h4{font-size: 24px; color: #666666; font-family: 'Lato', sans-serif; font-weight: 400; margin-top: 6px;}
.priceless.address h4 a{color: #666666;}
.priceless.address a.more { margin: auto;}
.priceless section.brand {  padding-bottom: 0px;}
.offer-secton { margin-bottom: 60px;}
.map-images{  background-size: cover;
    width: 100%;
    min-height: 526px;
    background-position: 0px 0px;
    background-repeat: no-repeat;}
section.maps { padding: 80px 0;}
.side-bar-menu ul li a {
    color: #666666;
    font-size: 21px;
}
.side-bar-menu ul li a {  color: #666666; font-size: 21px;line-height: 2;}
.side-bar-menu ul li {
    border-bottom: 2px solid #cacaca;
    line-height: 2;
    width: 200px;
    display: block;
}
.side-bar-menu ul li a:hover{color: #1983c6;}
.store-offers .col-12 { margin-bottom: 35px;}
.store-offers h3{    font-size: 23px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
	margin-top: 30px;}
.store-offers h4{ color: #666666; font-size: 23px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;}
.store-offers h3 a{ color: #000;}
form { width: 100%;}
form  input.form-control,form  textarea.form-control {
    padding: 15px 38px;
    border-radius: 18px;
    border: 1px solid #959595;
    font-size: 24px;
    color: #000;
}
form  textarea.form-control { min-height: 242px; resize:none;}
form  input.submit{
    font-size: 23px;
    font-weight: 700;
    color: #2194dd;
    border: 1px solid #2194dd;
    font-family: 'Lato', sans-serif;
    line-height: 2.2;
    display: inline-block;
    border-radius: 32px;
    width: 246px;
    text-align: center;
    margin: 30px auto;
    padding: 0px 28px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; cursor: pointer;
}
form .sub { text-align: center;}
form input.form-control, form textarea.form-control { padding: 11px 29px; font-size: 21px;}
section.media-contact-form { margin-top: 60px;}

/***** acordian csss*****/
.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.panel-default>.panel-heading a {
  display: block;
  padding: 16px 0px; position: relative;
}
.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}
.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #eee;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);    padding-top: 1px;
}
.panel-default>.panel-heading a:after {
    content: "\002b";
    color: #1883c5;
    font-weight: bold;
    font-size: 24px;
    border: 2px solid #1883c5;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    padding-top: 2px;
    position: absolute;
    right: 0;
    top: 15px;
}
.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
}
.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: 15px 0;
}
.accordion-option .title {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}
.accordion-option .toggle-accordion {
  float: right;
  font-size: 16px;
  color: #6a6c6f;
}
.accordion-option .toggle-accordion:before {
  content: "Expand All";
}
.accordion-option .toggle-accordion.active:before {
  content: "Collapse All";
}
.our-services{ margin-top: 60px;}
.our-services h4 a{    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400; color: #000; border-bottom: 2px solid #cacaca;}
.our-services h3 a{ color: #000;}

form { width: 100%;}
.accrodian{ background-size: cover;
    width: 100%;
    min-height: 306px;
    background-position: 0px 0px;
    background-repeat: no-repeat; margin-top: 55px;}
.our-services .panel-body h5{  font-size: 21px;
    font-family: 'Lato', sans-serif;margin-bottom: 20px;
    font-weight: 300;text-transform: uppercase; color: #666666;    margin-bottom: 30px;}

.our-services .panel-body p{font-size: 21px;
    font-family: 'Lato', sans-serif;font-weight: 300;color: #666666;     margin-bottom: 20px;}

.our-services .panel-body {
    padding: 20px 0 0 0;
}
.our-services .panel-default>.panel-heading a[aria-expanded="true"] {
    background-color: transparent;
    
}
.our-services {
    margin-top: 60px;
    padding-bottom: 100px;
}
.left-menu h2{font-size: 23px; font-family: 'Lato', sans-serif; margin-bottom: 17px;
font-weight: 400;text-transform: uppercase; color: #1983c6;}
.left-menu ul li a{ color: #666666; font-size: 21px; font-family: 'Lato', sans-serif;
font-weight: 300;}
.left-menu ul li {
    border-bottom: 2px solid #ccc;
    line-height: 2.4;
    display: block;
    width: 100%;    position: relative;
}
.left-menu ul li a:after{
    content: "\2212";
    color: #1883c5;
    font-weight: bold;
    font-size: 24px;
    border: 2px solid #1883c5;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    text-align: center;
    padding-top: 0px;
    position: absolute;
    right: 0;
    top: 13px;
    line-height: 21px;
}
.brand-logo h4 a.product-notification::after{
    content: "\002b";
    color: #1883c5;
    font-weight: bold;
    font-size: 24px;
    border: 2px solid #1883c5;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    text-align: center;
    padding-top: 0px;
    position: absolute;
    right: 0;
    top: 1px;
    line-height: 20px;
}
.brand-logo h4 a.product-notification:hover:after{ color: #fa6ca0; border-color: #fa6ca0;}
.brands-products .col-lg-4 {
    margin-bottom: 30px;
}
.brand-logo .brands-products h4 {
    position: relative;
}
.email-list{text-align: center;}
.email-list a.more{ margin:20px  auto;}
.left-menu ul li:last-child{ border:none;}
section.brand.shoping-builder {  padding-bottom: 0px;}




@media (max-width: 1500px){
.services {    background-position: -260px 0px;}
.magzin {   background-position: -170px 0px;}
.top-scroll {  bottom: 20px;  right: 21px;}
section.banner h2 {  font-size: 50px;  line-height: 1.1;  margin-bottom: 20px;}
header .navbar-nav .nav-link { font-size: 20px;}	
section.banner p {  font-size: 20px;}	
.text-area {max-width: 520px;}	
.carousel img { width: 64%; margin-right: -9%;}	
.carousel-indicators {bottom: 90px;}
.social {  width: 75%;	}
.inner-areas h2, .inner-areas h3 {font-size: 44px;}
.img-item {  min-height: 485px;	}
.shoping h2 {  font-size: 22px;}
/*.shoping p { font-size: 17px;}*/
.shoping a, a.more { font-size: 20px;  min-width: 200px;    margin-top: 20px;}	
.top-heading { min-height: 331px;  background-position: -55px 0px;}
section.services_magzin h2 { font-size: 45px;}
h2.heads { font-size: 45px;}
section.artical-slider { padding: 60px 0;}	
header i.fa, header i.fa.fa-search,header i.fa, i.fa{  width: 40px; height: 40px;  font-size: 22px; line-height: 40px;}
header.home-header i.fa,header.home-header i.fa.fa-search{  width: 40px; height: 40px;  font-size: 22px;}
header i.fa.fa-search {line-height: 35px;}	
header.home-header i.fa.fa-search { line-height: 35px;}
.navbar-right { right: 44px; top: -4px;	}
section.about-banner { min-height: 480px; background-position: -133px 0px;}	
a.navbar-brand  {top: -25px;  width: 136px;}
nav.navbar { padding: 0;  margin-top: 5px;  height: 88px;}	
.social { top: 25px;}	
.navbar-expand-lg .navbar-nav .dropdown-menu {  top: 25px;}	
footer .newsletter input[type="text"] { line-height: 1; background-position: 50px 10px;  font-size: 18px;  height: 48px;}	
.newsletter button {  top: 8px;	}
.newsletter {  margin-top: 45px;}
.top-scroll svg { width: 30px; height: 30px;}	
footer .top-scroll p{font-size: 15px;}
section.contact-section { padding: 70px 0;}	
header.home-header a.navbar-brand { top: -30px;width: 115px;}	
.br-item1 { min-height: 120px;}
section.about { padding: 55px 0 0 0;}
section.shoping {  padding: 40px 0px;}	
header .navbar-nav li::before { top: 14px;}
.br-item1 img{max-height: 100px;}	
form input.submit {font-size: 20px;  width: 200px;  margin-top: 20px;}
form  input.submit{ padding: 0px 28px;}
form textarea.form-control { min-height: 170px;}
.our-services { margin-top: 30px; padding-bottom: 40px;}	
}

@media (max-width: 1199px){
header i.fa, header i.fa.fa-search, header i.fa, i.fa {
    width: 35px; height: 35px; font-size: 22px;line-height: 35px;}	
header.home-header i.fa, header.home-header i.fa.fa-search {
    width: 35px; height: 35px;  font-size: 22px;}	
header.home-header i.fa.fa-search { line-height: 30px; font-size: 19px;}
header i.fa.fa-search { line-height: 30px; font-size: 19px;}	
.navbar-right .search-form .form-group input.form-control { min-width: 283px;
   font-size: 20px;    height: 43px;}
.navbar-right { right: 37px; top: -1px;}	
header.home-header .timing h3 { font-size: 18px; line-height: 2.5;}	
header .navbar-nav .nav-link { font-size: 16px;}
header .navbar-expand-lg .navbar-nav .dropdown-menu a {  font-size: 15px;}
header.home-header a.navbar-brand {  top: -30px;  width: 105px;}
.navbar-expand-lg .navbar-nav .dropdown-menu { top: 15px;}
.navbar-expand-lg .navbar-nav .offers .dropdown-menu { left: -130px;}	
section.banner { padding-top: 98px;}
.carousel img {  width: 52%;  margin-right: -6%;}
.carousel-indicators {bottom: 40px;}
section.banner h2 { font-size: 40px; line-height: 1.1; margin-bottom: 10px;}
.text-area { max-width: 480px;}	
.img-item { min-height: 385px;}	
.shoping p {  font-size: 19px; line-height: 1.2;}	
.shoping a,a.more{ font-size: 17px; min-width: 160px;  margin-top: 16px;}	
.br-item1 {  min-height: 120px;  padding: 10px;}	
.top-heading { min-height: 260px; background-position: -135px 0px;    margin-bottom: 30px;}
section.brand { padding-bottom: 35px;}
.services,.magzin {min-height: 460px;}
	
}
@media (max-width: 991px){
.text-area {  max-width: 375px;}
.profilelink a {font-size: 20px; width: 100%;}
footer .newsletter input[type="text"] { line-height: 1; background-position: 20px 10px;	}
.newsletter button { right: 7px;}
h2.heads {font-size: 30px; margin-bottom: 18px;}
#artical-slider .carousel-control-prev{
left: -28px;}	
#artical-slider .carousel-control-next { right: -28px;}
section.banner h2 { font-size: 26px;  line-height: 1.2;}	
section.banner p { font-size: 15px; line-height: 1.2;}	
.carousel-indicators li { width: 15px;  height: 15px;}
.inner-areas h2, .inner-areas h3 {  font-size: 35px;}
.img-item {  min-height: 280px;}	
.shoping h2 {font-size: 20px;  margin-top: 15px; margin-bottom: 5px;}	
.shoping p {font-size: 17px;  line-height: 1;}	
.top-heading { min-height: 183px;}
.brand p {font-size: 17px;	}
.brand-logo h4 { font-size: 17px;}	
section.services_magzin h2 {  margin-bottom: 11px; font-size: 30px;}
section.services_magzin p {  font-size: 16px;}	
.services_magzin a.more {  margin-top: 10px;}
.services, .magzin { min-height: 325px;}
section.artical-slider {  padding: 30px 0;}	
section.artical-slider h3 {font-size: 23px;  margin-top: 20px;  margin-bottom: 5px;}	
.artical-slider p { font-size: 17px;}
.instagram-feed h2.heads {  margin-bottom: 5px;}	
}

