
@font-face {
  font-family: 'Novecentosanswide-Medium';
  src: url('novecentosanswide-medium.eot?#iefix') format('embedded-opentype'),  url('novecentosanswide-medium.otf')  format('opentype'),
	     url('novecentosanswide-medium.woff') format('woff'), url('novecentosanswide-medium.ttf')  format('truetype'), url('novecentosanswide-medium.svg#novecentosanswide-medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Novecentosanswide-Light';
  src: url('novecentosanswide-light.eot?#iefix') format('embedded-opentype'),  url('novecentosanswide-light.otf')  format('opentype'),
	     url('novecentosanswide-light.woff') format('woff'), url('novecentosanswide-light.ttf')  format('truetype'), url('novecentosanswide-light.svg#novecentosanswide-light') format('svg');
  font-weight: normal;
  font-style: normal;
}

